<div class="auth-container">
  <form [formGroup]="authForm" (ngSubmit)="submitAuth()">
    <!-- Email  -->
    <div class="form-group">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        [class.invalid]="shouldShowError('email')"
        placeholder="Entrez votre email"
      />
      @if (emailErrorMessage) {
        <small class="error-message">{{ emailErrorMessage }}</small>
      }
    </div>

    <!-- Password  -->
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        [class.invalid]="shouldShowError('password')"
        placeholder="Entrez votre mot de passe"
      />
      @if (passwordErrorMessage) {
        <small class="error-message">{{ passwordErrorMessage }}</small>
      }
    </div>

    <!--  error message -->
    @if (formError) {
      <div class="form-error">{{ formError }}</div>
    }

    <button type="submit" [disabled]="authForm.invalid">Envoyer</button>
  </form>
</div>
